$blue: #7eb6bb
$gold: #db8c1b
$orange: #e1693b
$navy: #313147
$neutral: #ede8e3

$text: #595859
$text-light: #858384
$text-lighter: #aeacad

$blue-light: lighten( $blue, 10%)
$blue-dark: darken( $blue, 10%)

$gold-light: lighten( $gold, 10%)
$gold-dark: darken( $gold, 10%)

$orange-light: lighten( $orange, 10%)
$orange-dark: darken( $orange, 10%)

$navy-light: lighten( $navy, 10%)
$navy-dark: darken( $navy, 10%)

$neutral-light: lighten( $neutral, 10%)
$neutral-dark: darken( $neutral, 10%)
