//IMPORTS
@import media-queries
@import colors
@import typography
@import layout-variables
@import reset
@import helpers


// MISC VARIABLES
$indicator-border: 4px solid $gold
$transition: .3s ease-in-out

html
  background-color: $neutral

body

.body-container
  display: flex
  .sidebar
    min-width: 16em
    .logo-container
      @extend .m-all-md
      margin-top: 16em
      margin-bottom: 3em
      width: 90%
    ul
      list-style-type: none
    li
      @extend .nav-text
      @extend .p-all-md
      cursor: pointer
      transition: $transition
      &:hover, &active, &:focus
        border-left: $indicator-border
    a
      text-decoration: none
  .container
    flex-grow: 1
    @extend .p-all-lg

.work-section-home
  display: flex
  flex-direction: row
  flex-wrap: wrap
  // justify-content: space-between
  .project
    background: white
    display: flex
    flex-direction: column
    @extend .m-all-sm
    @extend .p-all-xs
    img
      max-width: 25em
