@import colors
@import typography
@import layout-variables
@import reset


// Used for writing notes in the markup - visible on the page
.note
  color: white
  font-family: sans-serif
  background: crimson
  padding: .5em



$border: 1px solid $neutral-dark
$border-radius: .8em

// $blue: #7eb6bb
// $gold: #db8c1b
// $orange: #e1693b
// $navy: #313147
// $neutral: #ede8e3

html
  // background: $neutral


// The style page's main body container
.style-main-container, .main-container
  display: flex
  height: 100%
  background: $neutral
  padding: 0



  .container
    background: $neutral
    display: flex
    flex-direction: column
    width: 100%

    .cover-image-slider
      display: block
      img
        max-width: 100%
      .description
        width: 300px
        height: 100px
        background: coral
        z-index: 1000
        position: relative
        top: 4px
        font-size: 1.4em


@import navigation
@import media-queries
