$sm-phone: 420px
$lg-phone: 768px
$sm-screen: 1024px
$md-screen: 1800px
$lg-screen: 2560px


@media (max-width:$sm-phone)
    html
      background: coral

@media (min-width:$sm-phone) and (max-width:$lg-phone)
    html
      background: honeydew

@media (min-width:$lg-phone) and (max-width:$sm-screen)
    html
      background: teal

@media (min-width:$sm-screen) and (max-width:$md-screen)
  html
    background: green

@media (min-width:$md-screen) and (max-width:$lg-screen)
    html
      background: aqua
