@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i')

$font: 'Montserrat', sans-serif

html
  font-family: $font

h2
  color: $text-lighter
  line-height: 1.8em
  letter-spacing: .04em
  text-transform: capitalize

.nav-text
  font-size: 1.3em
