@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i')

$font: 'Montserrat', sans-serif

html
  font-family: $font

h1
  color: $text
  font-size: 3em
  letter-spacing: .1em
  line-height: 1.6em


h2
  color: $text
  font-size: 1.8em
  line-height: 3em
  letter-spacing: .04em

h3
  color: $text
  font-size: 1.5em
  letter-spacing: .04em
  line-height: 1.8em

p
  color: $text
  font-size: 1.4em
  letter-spacing: .05em
  line-height: 1.8em

.bold
  font-weight: 400

.pop
  color: $orange

.light
  color: $text-light

.lighter
  color: $text-lighter

.date
  font-weight: 300
  font-style: italic



.nav-text
  font-size: 1.3em
  letter-spacing: .04em
