doctype html
html
  head
    meta(charset='UTF-8')
    title Styling | Kate Taylor
    link(rel='stylesheet', href='/styles/main.css')
      
    body.main-container
      .navigation
        ul
          a(href="main.html") 
            li  Return to main site
          
          a(href="#reason")
            li  Reason
            
          a(href="#colors")
            li  Color variables
          
          a(href="#typography")
            li  Typography Classes
          
          a(href="#layout-helpers")
            li  Layout Helpers
          
          a(href="#page-structure")
            li  Page Structure
            
            
      .container

      
    script(src='/js/interactive.js')
