doctype html
html
  head
    meta(charset='UTF-8')
    title Styling | Kate Taylor
    link(rel='stylesheet', href='/styles/main.css')
      
  body.body-container
    .sidebar
      .fixed
        .logo-container
          include ./includes/logo-svg.html
        ul
          a(href='#work')
            li work
          a(href='#about')
            li about me
          a(href='#hello')
            li say hello
    .container
      .cover-image
      .work-section-home
        .project
          img(src="./img/carousel/pic2.jpg")
          description goes here
        .project
          img(src="./img/carousel/pic2.jpg")
          description goes here
        .project
          img(src="./img/carousel/pic2.jpg")
          description goes here
        .project
          img(src="./img/carousel/pic2.jpg")
          description goes here

    script(src='/js/interactive.js')
