doctype html
html
  head
    meta(charset='UTF-8')
    title Styling | Kate Taylor
    link(rel='stylesheet', href='/styles/main.css')
    link(href="/styles/jquery.bxslider-min.css" rel="stylesheet")
  

      
    body.style-main-container
      .navigation
        ul.fixed
          a(href="main.html") 
            li#return  Return to main site
        
          a(href="#reason")
            li  Reason
        
          a(href="#colors")
            li  Color variables
        
          a(href="#typography")
            li  Typography Classes
        
          a(href="#layout-helpers")
            li  Layout Helpers
        
          a(href="#page-structure")
            li  Page Structure
            
            
      .container
        .cover-image-slider
          ul.bxslider
            li
              img(src='img/carousel/pic2.jpg')
            li
              img(src='img/carousel/pic3.jpg')
            li
              img(src='img/carousel/pic4.jpg')
                
        .p-all-md
          h2  Astonishment brain is the seed of intelligence rogue intelligent beings gathered by gravity light years the only home we've ever known Apollonius of Perga? Stirred by starlight. Corpus callosum circumnavigated bits of moving fluff circumnavigated consciousness muse about something incredible is waiting to be known Jean-Francois
        
        
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
      script(src='/js/interactivity.js')
      script(src="/js/jquery.bxslider-min.js")
