doctype html
html
  head
    meta(charset='UTF-8')
    title Styling | Kate Taylor
    link(rel='stylesheet', href='/styles/main.css')
    link(href="/styles/jquery.bxslider.css" rel="stylesheet")
  

      
    body.style-main-container
      .navigation
        ul.fixed
          a(href="main.html") 
            li#return  Return to main site
        
          a(href="#reason")
            li  Reason
        
          a(href="#colors")
            li  Color variables
        
          a(href="#typography")
            li  Typography Classes
        
          a(href="#layout-helpers")
            li  Layout Helpers
        
          a(href="#page-structure")
            li  Page Structure
            
            
      .container
        .intro
          h1 Kate Taylor Portfolio Site
          h2 Styling and Development Documentation
        .grouping
          h2  Reason
          h3  What is the purpose of this site?
          h3  Who is the target audience?
          h3  What are they looking for?
          h3  How does this meet their needs?
        
        .grouping
          h2  Color Variables
          p Stirred by starlight. Corpus callosum circumnavigated bits of moving fluff circumnavigated consciousness muse about something incredible is waiting to be known Jean-Francois Champollion circumnavigated kindling the energy hidden in matter venture! Gathered by gravity. 
        .grouping
          h2  Typography
          p Stirred by starlight. Corpus callosum circumnavigated bits of moving fluff circumnavigated consciousness muse about something incredible is waiting to be known Jean-Francois Champollion circumnavigated kindling the energy hidden in matter venture! Gathered by gravity. 
        .grouping
          h2  Layout
          p Stirred by starlight. Corpus callosum circumnavigated bits of moving fluff circumnavigated consciousness muse about something incredible is waiting to be known Jean-Francois Champollion circumnavigated kindling the energy hidden in matter venture! Gathered by gravity. 
        .grouping
          h2  Page Structure
          p Stirred by starlight. Corpus callosum circumnavigated bits of moving fluff circumnavigated consciousness muse about something incredible is waiting to be known Jean-Francois Champollion circumnavigated kindling the energy hidden in matter venture! Gathered by gravity. 
        
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
      script(src='/js/interactivity.js')
      script(src="/js/jquery.bxslider-min.js")
