doctype html
html
  head
    meta(charset='UTF-8')
    title Portfolio | Kate Taylor
    link(rel='stylesheet', href='/styles/main.css')
      
    body.main-container
      .navigation
        ul
          a(href="index.html") 
            li  Style Guide        
            
      .container
        h1  Main Page
      
    script(src='/js/interactive.js')
