doctype html
html
  head
    meta(charset='UTF-8')
    title Portfolio | Kate Taylor
    link(rel='stylesheet', href='/styles/main.css')
    link(href="/styles/jquery.bxslider.css" rel="stylesheet")
      
    body.main-container
      .navigation
        ul
          a(href="index.html") 
            li  Style Guide        
            
      .container
        .cover-image-slider
          ul.bxslider
            li
              img(src='img/carousel/pic2.jpg', title="CAPTION")
            li
              img(src='img/carousel/pic3.jpg', title="CAPTION")
            li
              img(src='img/carousel/pic4.jpg', title="CAPTION")
                
        .p-all-md
          h2  Astonishment brain is the seed of intelligence rogue intelligent beings gathered by gravity light years the only home we've ever known Apollonius of Perga? Stirred by starlight. Corpus callosum circumnavigated bits of moving fluff circumnavigated consciousness muse about something incredible is waiting to be known Jean-Francois
      
    script(src='/js/interactive.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src='/js/interactivity.js')
    script(src="/js/jquery.bxslider-min.js")
